@{
  Layout = "_Layout";
}

<h1>Welcome to the Librarian's Paradise!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Best Sellers Lists", "Index", "BestSellers")</p>
<br>
<br>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Login", "Login", "Account")</p>